body{
    font-family: Arial;
    background-image: url("/Cookie Clicker/images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    overflow: hidden;
}
#button{
    border-style: none;
    background: none;
}
#buttondiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 20px;
}
#counter{
    text-align: center;
    font-size: 5em;
    color: #613a08;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#error{
    color: red;
    text-align: center;
    font-size: 2em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#powerup{
    border-style: solid;
    border-color: #612a08;
    border-width: 4px;
    background-color: transparent;
    color: #612a08;
    font-size: 2em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#input{
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    color: transparent;
    border-style: none;
    display: flex;
    background-color: transparent;
    opacity: 0;
}
#submit{
    border-style: none;
    cursor: pointer;
}
#numberinput{
    border-style: none;
}
