
body{
    background-image: url(/cityboi/images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
#buttondiv{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}
#button{
    background: none;
    color: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
    padding: 0
}
#button img{
    display: block;
}