

input, button{
    font-family: inherit;
}
#title{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    text-decoration: underline;
}
.introduction{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}
